# Основные пакеты для тестирования
pytest==8.1.1               # Основной фреймворк для тестов
pytest-xdist==3.3.1         # Параллельный запуск тестов
pytest-html==4.1.1          # Генерация HTML-отчетов
allure-pytest==2.13.2       # Интеграция с Allure Report

# Веб-автоматизация
selenium==4.15.2            # Основной пакет для браузерной автоматизации
webdriver-manager==4.0.1    # Управление драйверами браузеров

# API-тестирование
requests==2.31.0            # Для HTTP-запросов
pytest-requests==0.2.0      # Интеграция requests с pytest

# Дополнительные утилиты
python-dotenv==1.0.0        # Работа с .env файлами
faker==19.3.0               # Генерация тестовых данных

# Логирование и отчетность
allure-python-commons==2.13.2  # Генерация данных для Allure
